header {
    color: #f09464; 
    font-size: 40px;
}

nav {
    font-size: 30px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #38065f;
    }
    
    ul li {
        float:left;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color: #711de0;
    }

    a{
        text-decoration: none !important;
    }

}

body{
    font-size: 16px;

    background-color: #c6579c /*#22005c*/ ; 
    color: white;

    h1{
        font-size: 2.5em;
        color: #711de0;
    }

    h2{
        font-size: 1.875em;
        color: #ba12d5;
    }

    p{
        font-size: 1em;
    }

}
a:link{
    color: #f9c56e;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #f09464;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: #f9c56e;
  background-color: #fff4a6;
  font-weight: bold;
  text-decoration: none;
}