html{
    background-color: #b49ef4;
}

header {
    width: 1000px;
	max-width: 100%;
    color: #f09464; 
    font-size: 40px;
    display : block;
    margin : auto;
    background-color: #b49ef4;
    a{
        text-decoration: none !important;
    }
}

nav {
    width: 1000px;
	max-width: 100%;
    font-size: 25px;
    display : block;
    margin : auto;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #38065f;
    }
    
    ul li {
        float:left;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color: #711de0;
    }

    a{
        text-decoration: none !important;
    }

}

section{
    display : block;
    margin : auto;
    width: 1000px;
	max-width: 100%;
    font-size: 16px;

    background-color:#efd9f7 /*#22005c*/ ; 
    color: white;

    h1{
        font-size: 2.5em;
        color: #711de0;
    }

    h2{
        font-size: 1.875em;
        color: #a42095;
    }

    p{
        font-size: 1em;
    }

a:link{
    color: #fea545;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #f66942 /*#f09464*/;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: #fea545;
  background-color: #fff4a6;
  font-weight: bold;
  text-decoration: none;
}
}